modules = ["nodejs-20", "web", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx concurrently -k -n api,agente,front -c yellow,cyan,magenta \"npm run dev --workspace api\" \"npm run dev --workspace agente\" \"npm run dev --workspace front\""
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5050
externalPort = 3000

[[ports]]
localPort = 6060
externalPort = 3001

[[ports]]
localPort = 34705
externalPort = 3002

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "npx concurrently -k -n api,agente,front \"npm run start --workspace api\" \"npm run start --workspace agente\" \"npm run preview --workspace front\""]
build = ["npm", "run", "build", "--workspace", "front"]
